:root{
    --purple: rgb(221, 141, 221);
    --grey: rgb(180,180,180);
    --cayden: rgb(255, 255, 255);
    --peter: rgb(255, 176, 00);
    --mo: rgb(20, 169, 255);
}

body{
    background-color: black;
}

.bar-div{
    border: 3px solid var(--purple);
    width: 80%;
    margin: 15px auto;
}
